.featured{
    height: 100vh;
    padding-top: 70px;
    background-color: #b51a18;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .left{
        flex: 1;
        position: relative;
        height: 50%;
        display: flex;
        align-items: center;
        
        

        .redBG{
            background-color: #d80011;
            position: absolute;
            width: 90%;
            height: 100%;
            z-index: 1;

            .leaf{
                position: absolute;
                width: 100px;
                top: -30px;
                left: -30px;
                img{
                    width: 100%;
                    height: auto;
                }
            }

            .beans{
                position: absolute;
                width: 50px;
                bottom: -150px;
                left: -15px;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .beans2{
                position: absolute;
                width: 50px;
                bottom: -100px;
                right: -100px;
                transform: rotate(90deg);
                img{
                    width: 100%;
                    height: auto;
                }
            }


        }
        

        .container{
            // border: 1px solid wheat;
            position: relative;
            display: flex;
            flex-direction: column;
            z-index: 2;
            margin-left: 100px;

            .title{
                font-size: 10vw;
                text-transform: uppercase;
                font-weight: bold;
                color: #f3a908;
                line-height: 120px;
            }
    
            .subTitle{
                font-size: 2.5vw;
                padding-left: 7px;
                color: #fff;
                text-transform: uppercase;
            }
        }
        

    }

    .right{
        flex: 1;
        
        .featuredIMG{
            width: 100%;
            height: 100%;
            
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
   
}